<form class="example-form">
  <h1>CONTACTANOS</h1>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex. Pizza" value="">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Dejanos tu comentario</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <button mat-raised-button  >Enviar</button>
  </form>