<div class="row around-xs" color="primary">
    <div class="col-md-1">
        <div class="box">
           <p>Contacto</p>
           <p>Mas informacion</p>
           <p>Calle 10 A #2-73</p>
           <p>Palo alto</p>
           <p>California</p>
           <p>Diego Caceres &copy;</p>
        </div>
    </div>
    <div class="col-md-1">
        <div class="box">
            <p>Nunca pare de aprender</p>
           <p>Platzi</p>
           <p> Conozcanos</p>
           <br>
           <p>Contactanos</p>
        </div>
    </div>
    <div class="col-md-1">
        <div class="box">
           <P maxlength="5">Todo esta protegido por los derechos de autor
               Asi que no vaya a copiar porque pailas jeje
           </P>
        </div>
    </div>
</div>
