body {
  margin: 0;
  padding: 0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px 20px; //para manejar el espacio entre cards o elem
}
.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .container {
    max-width: 1110px;
    padding-left: 16px;
    padding-right: 16px;
}
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

